{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="description" content="As Zuckerberg says 'You should learn how to program.'' , we at Phoenix - Cybernix are up and about with this thought, to prepare our students for whatever is about to come, and with this motive stands our next event. 
A quiz where you will be tested on your knowledge of the C language.
So gear up and #include everything you know to ace this quiz.">
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

<link href="{% static '/css/style-membership.css' %}" rel="stylesheet">
<title>Quizomania | PHOENIX</title>
{% endblock head %}


{% block content %}

<body class="container-fluid px-0">
    <section id="intro" class="clearfix text-center">
        <div class="container" data-aos="fade-up">
            <div class="blog-info" data-aos="zoom-in" data-aos-delay="100">
                <img class="mb-4" src="{% static '/images/phoenix_white.png' %}" alt="" width="130px">
                <h2 style="color: #FFF; font-size: 40px; font-weight: 800;">Quizomania</h2>
            </div>
        </div>
    </section>
    <div class="container rules" style="margin-top: 20px">
        <h4><strong> Topic:</strong> C Programming (<strong>Only for First Year</strong>)</h4>
    </div>
    <div class="container rules" style="margin-top: 20px">
        <h4><strong> Date:</strong> 26th June 2021 (Saturday)</h4>
        <h4><strong> Time:</strong> 04:00 PM</h4>
        <h5>As Zuckerberg says "You should learn how to program." , we at <strong>Phoenix - Cybernix </strong> are up and about with this thought, to prepare our students for whatever is about to come, and with this motive stands our next event.<br>
            A quiz where you will be tested on your knowledge of the C language.<br>
            So gear up and #include everything you know to ace this quiz.<br>
        </h5>
        <h4><strong> No. of Question:</strong> 20</h4>
        <h4><strong> Time Allowance:</strong> 30 Minutes</h4>
        <h4><strong> Register:</strong></h4>
    </div>
    <div class="container membership-box">
        <form method="POST" action="Quizomania/confirmation/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input name="contact" type="tel" class="form-control" id="contact"
                    placeholder="Enter Your Contact Number">
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input name="department" type="text" class="form-control" id="department"
                    placeholder="Enter your Department">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    
</body>
{% endblock content %}

{% block files %}
<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

{% endblock files %}
